* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.miniContainers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
}
.miniContainers>p {
    font-size: 24px;
    font-weight: bold;
}

.btns {
    width: 80px;
    border-radius: 5px;
    margin: 0px 10px;
    font-style: italic;
}

h1 {
    padding-top: 50px;
    color: royalblue;
    font-style: italic;
    text-decoration: underline;
}